* {
    box-sizing: border-box;
}

body{
    font-size: 16px; /* Ajusta el tamaño de fuente base */
    margin: 0; /* Quita el margen predeterminado */
    padding: 0; /* Quita el relleno predeterminado */
    overflow: hidden; /* Quita el desbordamiento */
}

.body-background {
    position: absolute;
    top: 50px; /* Ajusta la posición vertical */
    left: 0;
    width: 100%;
    height: 100%; /* Ajusta la altura */
    background-image: url("../img/fuclafondo.png");
    background-size: 60%; /* Ajusta el tamaño de la imagen al 50% */
    background-repeat: no-repeat;
    background-position: center; /* Centra la imagen de fondo */
    background-color: rgba(216, 216, 216, 0.8);
    filter: blur(9px);
    z-index: -1;
}



.help-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999; /* Asegura que esté por encima de otros elementos */
}

.help-box a {
    display: flex;
    align-items: center; /* Alinea verticalmente el icono y el texto */
    background-color: #E8E8E8;
    color: #000000;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
}

.help-box a i {
    margin-right: 5px; /* Ajusta el espaciado entre el icono y el texto */
}

.help-box a:hover {
    background-color: #FFD94D;
    transition: background-color 0.3s ease; /* Agrega una transición suave al cambio de color de fondo */
}

/* Menu del index*/
.sidebar {
    position: fixed; /* Para que el menú esté siempre visible incluso al hacer scroll */
    top: 0; /* Ubica el menú en la parte superior */
    left: 0; /* Lo coloca en el extremo izquierdo */
    height: 100%; /* Ocupa toda la altura disponible */
    width: 320px; /* Define el ancho del menú */
    background-color: #F5F7FA; /* Cambia el color de fondo del menú según sea necesario */
    padding-top: 20px; /* Añade un espacio en la parte superior */
    transition: width 0.3s; /* Agrega una transición suave para cambios de ancho */
    border: 1px solid rgb(179, 179, 179); /* Añade un borde */
    border-radius: 0px 20px 20px 0px; /* Agrega bordes redondeados en el lado derecho */
    z-index: 999; /* Asegura que el menú esté encima de otros elementos */
}
    .collapsed {
        text-align: center;
        width: 80px !important; /* Ancho del menú retraído */
    }

    .collapsed .profile img{
       margin: auto;
    }
    .profile {
        position: relative; /* Agregamos posicionamiento relativo */
        display: flex;
        padding-left: 15px;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .profile img {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        border: 3px solid gray;
    }
    
    .profile-info {
        margin-left: 20px;
    }
    
    .profile p {
        color: #333;
        font-weight: 700;
        margin: 0;
    }
    
    .search {
        
        background-color: #f3f3f3; /* Cambia el color de fondo del campo de búsqueda */
        padding: 10px;
        margin-bottom: 20px;
        display: block;
    }
    .search input[type="text"] {
        display: flex;
        justify-content: center; /* Centra los elementos horizontalmente */
        align-items: center; /* Centra los elementos verticalmente */
        width: 280px; /* Ajusta el ancho del campo de búsqueda para compensar el ancho del icono */
        height: 50px;
        padding: 8px;
        padding-left: 40px;
        border: none;
        border-radius: 30px;
    }
    .search label {
        position: relative;
        display: inline-block;
        width: 40px; /* Establece el ancho del contenedor del icono */
        cursor: pointer;
    }
    .search label i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #888; /* Cambia el color del icono de búsqueda */
    }
    .search label i:hover {
        color: #333; /* Cambia el color del icono de búsqueda al pasar el cursor sobre él */
    }
    .menu-item {
        color: #333; /* Cambia el color del texto de los elementos del menú */
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .menu-item a {
    text-decoration: none; /* Quita el subrayado del enlace */
    color: inherit; /* Hereda el color del texto de su contenedor */
}
    .menu-item:hover {
        background-color: #e7e7e7; /* Cambia el color de fondo al pasar el cursor sobre los elementos del menú */
    }

    .menu-item span{
        padding-left: 20px;
        
    }

    .submenu-item a {
        text-decoration: none !important; /* Quita el subrayado del enlace */
        color: inherit; /* Hereda el color del texto de su contenedor */
    }
    .submenu {
        display: none;
        background-color: #f3f3f3; /* Cambia el color de fondo del submenu */
    }
    .submenu-item {
        padding: 10px 40px;
        color: #333; /* Cambia el color del texto del submenu */
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .submenu span {
        padding-left: 20px;
    }
    .submenu-item:hover {
        background-color: #ddd; /* Cambia el color de fondo al pasar el cursor sobre los elementos del submenu */
    }
    .show {
        display: block;
    }
    .arrow-icon {
        float: right;
        margin-right: 10px;
    }
    .theme-buttons {
        position: relative;
        top: 0px;
        display: flex;
        justify-content: center; /* Centra los elementos horizontalmente */
        align-items: center; /* Centra los elementos verticalmente */
        background-color: #F0F3F7;
        border: 2px solid #d1d1d1;
        margin: auto;
        width: 260px;
        height: 50px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 25px ;
        margin-top: 10px; /* Alinea los botones al final del menú */
        margin-bottom: 20px; /* Añade un margen inferior a los botones */
        cursor: pointer;
    }
    
    .theme-buttons button {
        background-color: transparent;
        border: none;
        margin: 5px;
        padding: 5px 10px;
        border-radius: 20px;
    }

    .theme-buttons i{
        width: 22px;
        height: 22px;
        color: #CFD9E6;
    }

    .theme-buttons span{
        color: #7D96B3;
        font-size: 10px;
    }

    /* estilo de seleccionado de botones*/

    .theme-buttons .seleccionado {
        background-color: rgb(0, 0, 0);
        box-shadow: #8a9aab;
        border: 2px solid rgb(255, 255, 255);
        font-weight: bold;
     }

     .collapsed .menu-item:hover {
        background-color: #e7e7e7; /* Cambia el color de fondo al pasar el cursor sobre los elementos del menú */
    }

    .collapse-btn {
        position: absolute;
        text-align: center;
        width: 50px;
        height: 50px;
        top: 50%; /* Posiciona el botón en el centro vertical */
        right: 0; /* Lo coloca en la esquina derecha */
        transform: translateY(-50%); /* Centra verticalmente respecto al padre */
        background-color: orange;
        padding: 10px;
        border-radius: 100px 0px 0px 100px;
        cursor: pointer;
        transition: right 0.3s; /* Agregamos transición para el desplazamiento horizontal */
    }
    
    .collapsed .profile img{ /*Cuando el menu se retraiga encogera la imagen de perfil*/
        text-align: center;
        width: 50px;
        height: 50px;
    }
    .collapsed .collapse-btn {
        text-align: center;
        border-radius: 0px 100px 100px 0px;
        right: -50px; /* Mostramos el botón de colapso cuando el menú esté retraído */
    }
    .collapse-btn i {
        color: white;
    }
    .collapsed .search {
        display: none; /* Ocultamos la barra de búsqueda cuando el menú está colapsado */
    }
    .collapsed .menu-item span {
        display: none; /* Ocultamos los nombres de los elementos del menú cuando el menú está colapsado */
    }
    .collapsed .menu-item .arrow-icon {
        display: none; /* Ocultamos los nombres de los elementos del menú cuando el menú está colapsado */
    }
    .collapsed .profile span {
        display: none; /* Ocultamos los nombres de los elementos del menú cuando el menú está colapsado */
    }
    .collapsed .theme-buttons button span {
        display: none; /* Ocultamos los nombres de los elementos del menú cuando el menú está colapsado */
    }
    .collapsed .theme-buttons {
        width: 60px;
        height: 100px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }
    /* Agrega una clase para el perfil cuando el menú está colapsado */
    .collapsed .profile-name {
        display: none; /* Oculta el nombre del perfil */
    }

    /* Cambia la rotación de la flecha cuando el menú está colapsado */
    .profile.collapsed .collapse-btn i {
    transform: rotate(180deg); /* Rota la flecha hacia afuera */
    }



.cerrar-sesion {
    position: relative;
    color: black; /* Color del texto */
    font-weight: 700;
    background-color: white;
    border: none;
    padding: 10px 20px; /* Ajusta el espaciado del botón */
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: #000000 0px 0px 7px 0px;
}

.centrado{
    position: relative;
    display: flex;
    top: 5px;
    justify-content: center;
    align-items: center;
}

/* Estilos para el icono */
.cerrar-sesion i {
    padding-left: 20px;
    color: red;
    margin-left: 5px; /* Espacio entre el texto y el icono */

}

.collapsed .cerrar-sesion{
    position: relative;
    top: 60px;
    width: 60px;
}

.collapsed .cerrar-sesion i{
    position: relative;
    right: 120%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.collapsed span{
    display: none;
}

/* estilo  de los datos de la caja*/
.container-inputs {
    position: relative;
    top: 20px;
    border-radius: 10px;
    left: 160px;
    background-color: white;
    height: 617px;
    width: 75%;
    margin: 20px auto;
    padding: 0 20px;
    opacity: 90%;
}

.collapsed + .container-inputs {
    position: relative;
    top: 20px;
    border-radius: 10px;
    left: 40px;
    background-color: white;
    height: 617px;
    width: 80%;
    margin: 20px auto;
    padding: 0 20px;
    opacity: 90%;
}

.block {
    margin-bottom: 20px;
}

.column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

h2{
    font-weight: 700;
}

.collapsed + .container-inputs .block  h2{
    animation-duration: 0.8s;
    animation-name: slidein;
}
.collapsed + .container-inputs .block  label{
    animation-duration: 0.8s;
    animation-name: slidein;
}
/*animaion de la letra*/
@keyframes slidein {
  from {
    margin-left: 20%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

label {
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #000000a2;
    border-radius: 8px !important;
}

.btn-calcular {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: orange;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-calcular:hover {
    background-color: rgb(220, 143, 0);
}

@media (max-width: 768px) {
    .celda {
        width: 120px; /* Aumenta el tamaño de las celdas cuando el menú colapse */
        height: 120px;
    }
}





/* Media queries para estilos responsivos */
@media only screen and (max-width: 600px) {
    /* Estilos para pantallas pequeñas */
    .logo-container {
        flex-direction: column;
        align-items: center;
    }

    .logo-container img {
        margin-bottom: 10px;
    }

    .initials::after {
        display: none; /* Ocultar la barra en pantallas pequeñas */
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Estilos para pantallas medianas */
}

@media only screen and (min-width: 1025px) {
    /* Estilos para pantallas grandes */
}