.search {
  background-color: #ffffff; /* Cambia el color de fondo del campo de búsqueda */
  padding: 2px;
  margin-bottom: 0px;
  display: flex;
  z-index: 1;
  align-items: center;
}
.row-search {
  display: flex;
  align-items: flex-end;
  margin-top: 15px;
}
.search a {
  margin-left: 20px; /* Espacio entre el input de búsqueda y el botón */
  text-decoration: none;
  padding: 7px 10px; /* Espaciado del botón */
  border-radius: 5px;
  background-color: orange;
  box-shadow: #000000 0px 0px 7px 0px;
  border: 0;
  color: #fff;
  transition: background-color 0.3s;
}

.search button {
  text-decoration: none;
  padding: 8px 10px; /* Espaciado del botón */
  border-radius: 5px;
  margin-left: 2px;
  transition: background-color 0.3s;
  box-shadow: #000000 0px 0px 7px 0px;
  border: 0;
  background-color: #ffffff;
}

.search input[type="text"] {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  width: 220px; /* Ajusta el ancho del campo de búsqueda para compensar el ancho del icono */
  height: 40px;
  padding: 8px;
  margin-top: -15px;
  border: none;
  border-radius: 5px;
  box-shadow: #000000 0px 0px 7px 0px;
}
.search label {
  position: relative;
  display: inline-block;
  width: 40px; /* Establece el ancho del contenedor del icono */
  cursor: pointer;
}
.search label i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000; /* Cambia el color del icono de búsqueda */
  margin-top: -7px;
}
.search label i:hover {
  color: #333; /* Cambia el color del icono de búsqueda al pasar el cursor sobre él */
}

.container-inputs {
  position: relative;
  top: 40px;
  border-radius: 10px;
  left: 160px;
  height: 550px;
  width: 75%;
  margin: 20px auto;
  padding: 0 20px;
  overflow: hidden; /* Para ocultar el desbordamiento de la imagen */
  box-shadow: 0 0 9px #000000;
  overflow-x: auto;
  overflow-y: auto; /* Habilita desplazamiento vertical */
}

.collapsed + .container-inputs {
  position: relative;
  top: 20px;
  border-radius: 10px;
  left: 40px;
  height: 550px;
  width: 85%;
  margin: 20px auto;
  padding: 0 20px;
  box-shadow: 0 0 9px #000000;
}

.container-inputs h2 {
  font-weight: 700;
  text-align: center;
  font-size: 56px;
  text-transform: uppercase;
  position: relative;
  z-index: 999;
  color: orange;
  text-shadow: 2px 2px 1px #000000;
}

.table-container {
  overflow-x: auto;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-image: url("../images/fuclafondo.png");
  background-position: center;
  background-size: cover; /* Asegura que la imagen cubra completamente la tabla */
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  margin-top: 50px;
  z-index: 1;
}

thead {
  background-color: #000; /* Más oscuro para un mejor contraste */
  color: #000; /* Texto blanco para mejor contraste */
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 2px solid #060606;
  background-color: rgb(
    255 255 255 / 85%
  ); /* Fondo blanco semi-transparente para mejorar la legibilidad */
}

tbody tr:hover {
  background-color: #ffed96;
}

/* estilo del modal*/

.modal-dialog {
  position: relative;
  top: 20%;
  max-width: 400px; /* Ancho máximo del modal */
  width: 90%; /* Ancho del modal en porcentaje */
  max-height: 400px;
  height: 90%;
}
/* Estilo para el fondo oscuro detrás del modal */
.modal-backdrop {
  background-color: rgba(
    0,
    0,
    0,
    0.99
  ); /* Ajusta la opacidad según tus preferencias */
}

/* Estilo para el modal */
.modal-content {
  background-color: #fff; /* Color de fondo del modal */
  border-radius: 10px; /* Borde redondeado */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra */
}

.modal-header {
  background-color: orange; /* Color de fondo del encabezado del modal */
  border-bottom: none; /* Sin borde inferior */
}

.modal-body {
  padding: 20px; /* Espaciado interno del cuerpo del modal */
}

.modal-footer {
  background-color: #f0f0f0; /* Color de fondo del pie del modal */
  border-top: none; /* Sin borde superior */
}

.canc {
  position: relative;
  right: 121px;
}

.s {
  background-color: white;
  border: 2px solid rgba(255, 0, 0, 0.44);
  width: 100px;
  height: 30px;
  color: black;
  border-radius: 5px;
}
.no {
  background-color: white;
  border: 2px solid orange;
  width: 50px;
  height: 30px;
  color: black;
  border-radius: 5px;
  text-transform: uppercase;
}
.si {
  font-weight: 700;
  text-align: center;
  background-color: orange;
  border: 1px solid rgb(255, 255, 255);
  width: 80px;
  height: 30px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
}
.close {
  text-align: center;
  border: 2px solid orange;
  border-radius: 10px;
  position: relative;
  left: 200px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

/* Estilo para los botones dentro del modal */
.modal-footer .btn {
  margin-right: 10px; /* Margen derecho entre los botones */
  border-radius: 5px; /* Borde redondeado para los botones */
}


/* Estilos para el modal */
.modal-dialog1 {
  position: relative;
  margin: 10% auto; /* Centra vertical y horizontalmente */
  margin-top: 30px;
  width: 80%; /* Ancho del modal en porcentaje */
  height: 80%;
}

.modal-content1 {
  background-color: #ffffff5f; /* Color de fondo del modal */
  border-radius: 10px; /* Borde redondeado */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); /* Sombra */
  top: 10px;
}

.modal-header1 {
  background-color: orange; /* Color de fondo del encabezado del modal */
  border-bottom: none; /* Sin borde inferior */
  top: 10px;
}

.modal-body1 {
  padding: 15px;
 
}

.modal-title1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 45px;
  text-shadow: 1px 1px 2px #000000;
}

.modal-footer .btnFooter1 {
  background-color: orange;

  
  text-transform: uppercase;
  position: relative;
}

.canc1 {
  position: relative;
  right: 121px;
}
  
#threejs-container {
  width: 100%; /* Ancho del contenedor */
  height: 400px; /* Altura del contenedor */
  position: relative; /* Posición relativa para posicionar correctamente el canvas */
}

#threejs-container canvas {
  width: auto; /* Ancho del canvas igual al del contenedor */
  height: auto; /* Altura del canvas igual al del contenedor */
  display: block; /* Mostrar el canvas como bloque */
}

/**/
/* Media queries para estilos responsivos */
@media only screen and (max-width: 600px) {
  /* Estilos para pantallas pequeñas */
  .logo-container {
    flex-direction: column;
    align-items: center;
  }

  .logo-container img {
    margin-bottom: 10px;
  }

  .initials::after {
    display: none; /* Ocultar la barra en pantallas pequeñas */
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Estilos para pantallas medianas */
}

@media only screen and (min-width: 1025px) {
  /* Estilos para pantallas grandes */
}
